name: Déployer sur GitHub Pages
on:
push:
  branches: [main]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  test : 
    runs-on : ubuntu-latest 
    steps : 
      - name : Récupérer le code 
        uses : actions/checkout@v4 

      - name : Installation Node 
        uses : actions/setup-node@v4
        with: 
          node-version: '20'

      - name : Initialisation 
        run : npm init -y 

      - name : Installer les dépendances 
        run : npm install 

      - name : Utiliser Lint 
        run : npm run lint

      - name : Lancer les tests 
        run : npm test 
  deploy:
    runs-on: ubuntu-latest
    needs : test 
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4
      - name: Configurer GitHub Pages
        uses: actions/configure-pages@v4
      - name: Uploader les fichiers
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
      - name: Déployer sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
